<div class="section-dark contact" id="contact">
  <div class="container">
    <div
      class="columns is-multiline"
      data-aos="fade-in-up"
      data-aos-easing="linear"
    >
      <div class="column is-12 about-me">
        <h1 class="title has-text-centered section-title">
          Contactez-nous
        </h1>
      </div>
      <div class="column is-8 is-offset-2">
        <!-- action="https://formspree.io/email@example.com" -->
        <form
          action="#"
          method="POST"
        >
          <div class="field">
            <label class="label">Votre nom</label>
            <div class="control has-icons-left">
              <input
                class="input"
                type="text"
                placeholder="Ex. Paul Personne"
                name="name"
              />
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <label class="label">Votre adresse de courriel</label>
            <div class="control has-icons-left">
              <input
                class="input"
                type="email"
                placeholder="Ex. paul@personne.me"
                name="\email"
              />
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <label class="label">Votre message</label>
            <div class="control">
              <textarea
                class="textarea"
                placeholder="Votre message ici ..."
                name="message"
              ></textarea>
            </div>
          </div>
          <div class="field">
            <div class="control ">
              <button class="button submit-button">
                Envoyer&nbsp;&nbsp;
                <i class="fas fa-paper-plane"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
