<div class='section-light about-me' id='index_le_chateau'>
  <div class='container'>
    <div class='column is-12 about-me'>
      <h1 class='title has-text-centered section-title'>La Ménardière</h1>
    </div>
    <div class='columns is-multiline'>
      <div
        class='column is-6 has-vertically-aligned-content'
        data-aos='fade-right'
      >
        <p class='is-larger'>
          <strong>&emsp;&emsp;Un gîte de caractère totalement indépendant.
            <br />Le château de La Ménardière a été construit au XV° siècle et remanié au XVIII° siècle.
            <br />&emsp;&emsp;Une partie de ce château, inscrit aux Monuments Historiques, a été restaurée au début du XXI° siècle.</strong>
        </p>
        <br />
        <p>
          Très grand gîte de caractère.
          <br />Rez de chaussée&nbsp;: salon de 50 m² décoré, grande salle à manger, cuisine équipée avec congélateur, salle d'eau/wc, 1 chambre (2 lits 90 jumeaux), wc. Escalier gothique monumental.
          <br />Étage&nbsp;: 3 chambres (1 lit 160)(1 lit 140)(2 lits jumeaux 90, 1 lit 90), 1 salle de bains, 1 salle d'eau, 2 wc.
          <br />Possibilité de louer en sus  un grand dortoir pour 6 personnes.
          <br />Jardin clos de 1000 m² avec terrasse (salon de jardin, barbecue).
          <br />Piscine semi-enterrée (4x6m) ouverte d'avril à septembre.
          <br />Abri voiture, ping-pong, VTT, mini billard. Pièce d'eau avec barque et cannes à pêche.
          <br />Wifi, animaux non acceptés.
        </p>
        <br />
        <div class='is-divider'></div>
        <div class='columns about-links'>
          <div class='column'>
            <p class='heading'>
              <strong>Contactez</strong>
            </p>
            <p class='subheading'>
              Madame Jausions
            </p>
          </div>
          <div class='column'>
            <p class='heading'>
              <strong>Téléphone</strong>
            </p>
            <p class='subheading'>
              +33 (0)6 10 19 38 01
            </p>
          </div>
        </div>
        <div class='columns about-links'>
          <div class='column'>
            <p class='heading'>
              <strong>Courriel</strong>
            </p>
            <p class='subheading'>
              chateau.menardiere@gmail.com
            </p>
          </div>
          <div class='column'>
            <p class='heading'>
              <strong>Adresse</strong>
            </p>
            <p class='subheading'>
              4 rue du creux rouge
              <br />63100 Clermont-Ferrand
            </p>
          </div>
        </div>
      </div>
      <div class='column is-6 right-image ' data-aos='fade-left'>
        <%= image_tag 'salon.jpg', class: 'is-rounded', alt: 'Le grand salon' %>
      </div>
    </div>
  </div>
</div>
