<div class='footer'>
  <p>
    Pour de plus ample informations, contactez
    <strong class='white'>Madame Jausions</strong>
    au <a href='tel:+33610193801'>+33 (0)6 10 19 38 01</a>
    <br />
    －
    <a href='/legal.html'>Mentions légales</a>
    －
    <a href='/contact.html'>Contactez-nous</a>
    －
    <a target='blank' href=' https://www.gites-de-france-vendee.com/fr/location/locations-gites-saint-pierre-du-chemin-chateau-de-la-menardiere-h85g010410'>Gîtes de France</a>
    -
  </p>
</div>
