<div class="columns">
  <div class="column is-12 has-text-centered">
    <ul>
      <% data.menus.each do |url, item| -%>
        <li>
          <a href="/<%= url %>.html"><%= item %></a>
        </li>
      <% end -%>
    </ul>
  </div>
</div>
