<div class='section-dark about-me' id='situation'>
  <div class='container'>
    <div class='column is-12 about-me'>
      <h1 class='title has-text-centered section-title'>La chambre basse, au rez de chaussée</h1>
      <p class='has-text-centered'>
        Cette chambre dispose de deux lits jumeaux simples en 80, pouvant être assemblés pour former un lit double de 160.
      </p>
    </div>
  </div>
</div>
