<div class='section-dark about-me' id='situation'>
  <div class='container'>
    <div class='column is-12 about-me'>
      <h1 class='title has-text-centered section-title'>La chambre bleue</h1>
      <p class='has-text-centered'>
        Cette chambre dispose de trois lits simples en 90, dont deux jumeaux.
      </p>
    </div>
  </div>
</div>
