<div class='section-light about-me' id='situation'>
  <div class='container'>
    <div class='column is-12 about-me'>
      <h1 class='title has-text-centered section-title'>La chambre jaune, dite “au chinois”</h1>
      <p class='has-text-centered'>
        Cette chambre dispose d'un grand lit double (160x200) en alcove.
      </p>
    </div>
  </div>
</div>
