<div class='section-light about-me' id='le_chateau_descriptif'>
  <div class='container'>
    <div class='column is-12 about-me'>
      <h1 class='title has-text-centered section-title'>Divers</h1>
      <ul>
        <% data.equipements.divers.each do |item| -%>
          <li><%= item %></li>
        <% end -%>
      </ul>
</div>
  </div>
</div>
