<div class='section-light about-me' id='le_chateau_descriptif'>
  <div class='container'>
    <div class='column is-12 about-me'>
      <h1 class='title has-text-centered section-title'>Descriptif</h1>
      <p class='has-text-centered'>
        Le château de La Ménardière a été construit au 15° siècle et remanié au 18°.
        <br />
        Une partie de ce château ruiné, inscrit aux Monuments Historiques (ISMH) a été restaurée en 1998/2000.
      </p>
    </div>
  </div>
</div>
