<div class="section-dark about-me" id="situation">
  <div class="container">
    <div class="column is-12 about-me">
      <h1 class="title has-text-centered section-title">Au rez de chaussée</h1>
    </div>

    <div class="columns is-multiline">
      <div class="column is-6 has-vertically-aligned-content">
        <p class="is-larger">
          Outre l’entrée du côté de la tour, se situent le salon, la salle à manger, la chambre basse, une salle d’eau avec douche, lave-linge et sèche-linge, W-C et la cuisine ainsi qu’un deuxième W-C.
        </p>
      </div>

      <div class='column is-6 right-image'>
        <%= image_tag 'plan_rez_de_chaussee.jpg', class: 'is-rounded', alt: 'Plan du rez de chaussée' %>
      </div>
    </div>
  </div>
</div>
