<div class='section-dark about-me' id='le_chateau_descriptif'>
  <div class='container'>
    <div class='column is-12 about-me'>
      <h1 class='title has-text-centered section-title'>Au second étage</h1>
      <p class='has-text-centered'>
        Eventuellement, au haut de la tour, la "chambre haute", pouvant servir de dortoir.
      </p>
    </div>
  </div>
</div>
