<h2>Extraits du livre de M. de Raigniac “De Logis en châteaux”</h2>

<p>
La Mesnardière fut évidemment fondée par des MESNARD dès avant le XIV° siècle.

Quoi qu’il en soit, les premiers seigneurs connus de la Mesnardière sont les GRIGNON.
        On sait seulement que dès 1403, André GRIGNON, fils de Jean GRIGNON, déjà seigneur de Breuil Bastard, à la Tardière, est seigneur de la Mesnardière.
        Le dernier des GRIGNON de la Mesnardière fut François GRIGNON. Celui-ci fut assassiné vers 1529 par Gilles et Jacques de Faubert, seigneurs de la Vergne à Secondigny.  Ces derniers  furent condamnés à être décapités et leurs biens confisqués. Cette sentence fut rapidement suivie de lettres de grâces.
François GRIGNON était alors père d’une fille mariée depuis quelques années à Louis BIGOT.
Tout fait penser que François GRIGNON fit construire la tour et l'escalier de la Mesnardière.
Les armes des GRIGNON y sont nombreuses et toutes en premières places.
Louis BIGOT qui en  1531 est veuf de Catherine GRIGNON  descend d'un maire de Poitiers en 1372. Sa famille est riche.
Les nouveaux seigneurs de la Mesnardière sont donc les BIGOT. Ils possèdent en outre la seigneurie de la Girardie à Sérigné où ils édifieront une fort belle demeure.
La Mesnardière passe à leur second fils François BIGOT. Il est catholique et capitaine d'une compagnie d'ordonnances du Roi Charles IX.
     En mai 1574, il assiège le château de la Forêt-sur-Sèvre, occupé par les protestants parmi lesquels se trouve son gendre, René BASTARD de la Cressonnière. Les protestants paraissent les moins nombreux et disposés à se rendre. François BIGOT vient se présenter en tant que parlementaire.  Il est tué. Il se trouvait alors entre les deux ponts du château et ce meurtre était "contre tout droit de guerre"
         On ne se gêna pas pour accuser René Bastard d'avoir voulu faire assassiner son beau-père.
         Il était pressé de le voir disparaître et lui reprochait d'avoir donné La Girardie à sa fille cadette Anne. Sa propre femme Charlotte BIGOT était l'aînée des deux soeurs et il estimait que son père aurait du lui donner la Girardie en plus de La Mesnardière. Le 7 novembre 1579 René BASTARD sera condamné à mort par la Cour des Grands Jours de Poitiers.                                                                                         La sentence ordonne que les châteaux de La Mesnardière et de la Cressonnière, tous deux appartenant à René BASTARD soient rasés… Ce n'est que deux ans plus tard que René BASTARD fut tué dans un combat près de Richelieu.
        La Mesnardière sera jusqu'à la Révolution la résidence principale des héritiers de René BASTARD. Ces derniers seront des personnages riches et puissants.  Son fils Henry BASTARD sert Henri IV avec fidélité. Il sera chevalier de l'ordre du Roi  et Gouverneur de Maillezais. Sa femme Louise de PONTLEVOYE lui porte le charmant château de la Blandinière près de Mauléon et d’autres biens.
        Mais les BASTARD sont restés protestants et, à la génération suivante,  les deux fils d'Henry BASTARD suivront Soubise dans sa révolte contre Louis XIII.
         L'aîné sera tué lors de la bataille de Mareuil.
        La Mesnardière et la plus grande partie de l'héritage des BASTARD va revenir à la fille aînée Louise. Comme la plupart de ses frères et soeurs, elle est née à la Mesnardière. Elle a épousé Louis MAISTRE qui est seigneur de la Papinière et d'Aizenay.
        Leurs descendants, les MAISTRE puis les LA TOUR vont vivre à la Mesnardière.

En 1734, leur héritière, Henriette-Catherine de La Tour épouse Louis-Henri d'ASNIERES, seigneur de Lucques.
C'est un voisin qui réside au petit château de Lucques à la limite de Menomblet et de Saint-Marsault. C'est peu de chose à côté de la Mesnardière et les d'ASNIERES vont désormais habiter la Mesnardière.
        C’est à cette époque, au 18° siècle,  que les d’ASNIERES remanient profondément l’architecture du  château et  de ses dépendances.
        Leur fils Jean d'ASNIERES se trouve à la tête d'une fortune considérable. Il obtient l'érection en marquisat d'ASNIERES-LA CHATAIGNERAIE, de ses terres du Petit château de Vouvant, de La Chataigneraie, de la Mesnardière, Saint-Pierre-du -Chemin et Menomblet.
Jean d'ASNIERES épouse en 1784 Mademoiselle Catherine de Montmorin. Ils habitent la Mesnardière où vont naître leurs enfants.
        La Révolution arrive et Jean d'ASNIERES émigre. Sa femme et ses enfants demeurent d'abord à la Mesnardière puis se retirent en Normandie.
    Le château est incendié lors du passage des colonnes infernales.
        Toutes les terres de Jean d'ASNIERES ont été confisquées comme biens d'émigrés.  Elles seront mises en adjudication le 9 Pluviôse an IV (29 janvier 1796).
        Grâce à un prête-nom, la citoyenne Catherine Arnaude de Montmorin, femme de Jean d'ASNIERES  a le droit de racheter le « ci-devant château de la Mesnardière, incendié ».

        Ainsi La Mesnardière revient aux d'ASNIERES. On peut penser qu'ils procédèrent à quelques réparations sommaires afin de pouvoir y faire quelques séjours mais en temps normal ils habitent Paris.
        Le dernier des d'ASNIERES à posséder la Mesnardière sera le comte Raymond d'ASNIERES qui épouse Mlle MORIN de BANNEVILLE. Cette dernière meurt veuve en 1881.
         Elle a fondé à Saint-Pierre-du-Chemin un hôpital. Elle sera inhumée dans la chapelle de ce dernier ainsi que son mari ; on y transportera également les corps de ses beaux-parents.
*****

        La Mesnardière a été achetée en 1869  par  Edmond SAVARY de BEAUREGARD, de la branche du Chastenay à La Chataigneraie, qui s’intéressait essentiellement aux terres qui l’entouraient. Le château ne fut pas habité par sa famille et tomba en ruines.


        La Ménardière passera par héritage à ses descendants directs, les LA BARRE de NANTEUIL, puis les du PLESSIS de GRENEDAN qui la restaureront partiellement à partir de 1998.
****

</p>
