<div class="main-content">
  <div class='section-light' id='le_chateau_descriptif'>
    <div class='container'>
      <div class='column is-12'>
        <h1 class='title has-text-centered section-title'>A visiter en Vendée</h1>
      </div>
    </div>
  </div>
</div>