<div class="main-content">
  <div class='section-light about-me' id='le_chateau_descriptif'>
    <div class='container'>
      <div class='column is-12 about-me'>
        <h1 class='title has-text-centered section-title'>Histoire</h1>

        <%#= partial '_extraits_du_livre' -%>
      </div>
    </div>
  </div>
</div>
