<div class="header-wrapper" id="home">
  <section class="hero is-large">
    <div class="hero-body">
      <div class="container has-text-centered">
        <!-- <h1 class="subtitle">Bienvenue au</h1> -->
        <h2 class="title">Château de la Ménardière</h2>
        <h1 class="subtitle profession">Gîte de Charme jusqu’à 15 personnes</h1>
      </div>
    </div>
  </section>
</div>

<div class="main-content">
  <%= partial 'index/la_menardiere' -%>

  <%= partial 'index/contact' -%>
</div>
