<div class="main-content">
  <div class="section-light about-me" id="situation">
    <div class="container">
      <div class="column is-12 about-me">
        <h1 class="title has-text-centered section-title">Situation géographique</h1>
      </div>

      <div class="columns is-multiline">
        <div class="column is-6 has-vertically-aligned-content">
          <p class="is-larger">
            <strong>
              &emsp;&emsp;Accès :
            </strong>
            <br />
            &emsp;&emsp;A la sortie Saint-Pierre du chemin, sur la D&nbsp;938&nbsp;ter, vers le nord&nbsp;:
          </p>
          <p>
            &emsp;&emsp;Soit, immédiatement après le cimetière, à hauteur du panneau Saint-Pierre du chemin, prendre vers la gauche l'ancienne avenue du château, empierrée, carrossable et bordée d'arbres, de plus d'un kilomètre de long&nbsp;: arrivée de face par un pont enjambant les douves, prolongé par un porche pigeonnier.
          </p>
          <p>
            &emsp;&emsp;Soit poursuivre après le cimetière sur la D&nbsp;938&nbsp;ter sur 1,5&nbsp;km, prendre au lieu dit Puy-Massé la première route goudronnée en impasse à gauche qui aboutit perpendiculairement à l'avenue du château. Prendre à droite le pont et le porche.
          </p>
          <br />
          <p class="is-larger">
            <strong>
              &emsp;&emsp;Coordonnées GPS :
            </strong>
          </p>
          <div class="columns about-links">
            <div class="column">
              <p class="heading">
                <strong>Longitude</strong>
              </p>
              <p class="subheading">
                00°41'30" O
              </p>
            </div>
            <div class="column">
              <p class="heading">
                <strong>Latitude</strong>
              </p>
              <p class="subheading">
                46°42'27" S
              </p>
            </div>
          </div>
        </div>

        <div class="column is-6 right-image " data-aos="fade-left">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2735.775082169608!2d-0.6909176841319006!3d46.71017197913544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4806fc5762c590b7%3A0xe135b94bc3af9e57!2zQ2jDonRlYXUgR8OudGUgZGUgY2hhcm1lIGxhIE3DqW5hcmRpw6hyZQ!5e0!3m2!1sfr!2sfr!4v1591696337966!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
