<div class='main-content'>
  <div class='container'>
    <div class='column is-12'>
      <h1 class='title has-text-centered section-title'>Tarifs et Réservations</h1>
      <h2 class='title has-text-centered section-title'>Saison 2020-2021</h2>
      <p class='has-text-centered'>
        Les tarifs de réservation de La Ménardière sont différents en fonction des périodes de l'année.
      </p>
    </div>

    <div class="columns">
      <div class="column is-4">
        <p class="is-larger">Très haute saison</p>
      </div>
      <div class="column is-1" align="right">
        <p class="is-larger strong">1 150 €</p>
      </div>
      <div class="column is-7">
        <p>du 10 juillet au 28 août 2021</p>
      </div>
    </div>

    <div class="columns">
      <div class="column is-4">
        <p class="is-larger">Haute saison</p>
      </div>
      <div class="column is-1" align="right">
        <p class="is-larger strong">1 050 €</p>
      </div>
      <div class="column is-7">
        <p>du 26 juin au 10 juillet 2021</p>
      </div>
    </div>

    <div class="columns">
      <div class="column is-4">
        <p class="is-larger">Moyenne saison</p>
      </div>
      <div class="column is-1" align="right">
        <p class="is-larger strong">850 €</p>
      </div>
      <div class="column is-7">
        <p>du 8 mai au 26 juin 2021</p>
        <p>du 28 août au 25 septembre 2021</p>
      </div>
    </div>

    <div class="columns">
      <div class="column is-4">
        <p class="is-larger">Basse saison</p>
      </div>
      <div class="column is-1" align="right">
        <p class="is-larger strong">650 €</p>
      </div>
      <div class="column is-7">
        <p>du 25 septembre au 15 octore 2021</p>
      </div>
    </div>

    <div class="columns">
      <div class="column is-4">
        <p class="is-larger">Vacances scolaires Pâques 2021</p>
      </div>
      <div class="column is-1" align="right">
        <p class="is-larger strong">950 €</p>
      </div>
      <div class="column is-7">
        <p>du 10 avril au 8 mai 2021</p>
      </div>
    </div>

    <div class="columns">
      <div class="column is-4">
        <p class="is-larger">Vacances hiver (Noël et février 2022)</p>
      </div>
      <div class="column is-1" align="right">
        <p class="is-larger strong">1 150 €</p>
      </div>
      <div class="column is-7">
        <p>du 6 février au 6 mars 2021</p>
        <p>du 18 décembre 2021 au 2 janvier 2022</p>
      </div>
    </div>

    <div class="columns is-multiline">
      <div class="column is-5 has-vertically-aligned-content">
        <p class="is-larger">
          Chèques vacances ANCV acceptés
        </p>
      </div>
      <div class='column is-7 right-image'>
        <%= image_tag 'ancv.png', alt: 'logo ancv', width: 100 %>
      </div>
    </div>

  </div>
</div>



<ul>


    <p class='has-text-centered'>
        Les tarifs s'entendent pour une semaine du samedi au samedi.
      </p>
    </div>

   </p>
    </div>


  <p class='has-text-centered'>
La location du dortoir est forfaitaire : 100 €      </p>
    </div>

   </p>
    </div>
 <p class='has-text-centered'>
La réservation se fait par mail à l'adresse :    </p>
    </div>

</p>

<div>
  <p class='has-text-centered'>
    <a href="mailto:chateau.menardiere@gmail.com">chateau.menardiere@gmail.com</a>
  </p>
</div>

</div>
 <p class='has-text-centered'>
  ou par téléphone auprès de
  <strong>
    Mme Jausions-du-Plessis
    au <a href="tel:+330610193801">06 10 19 38 01</a>
  </strong>
  </p>
</div>

</p>
    </div>
 <p class='has-text-centered'>
ou par courrier postal

</p>
    </div>
 <p class='has-text-centered'>
4 rue du creux rouge   </p>

    </div>

<p class='has-text-centered'>
 63100 CLERMONT FERRAND  </p>



<p class='has-text-centered'>
 N'hésitez pas à appeler

nous nous ferons un plaisir de répondre  </p>





